<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suupa Manga</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<section>
    <div>
        <div>
            <div>
                <h2>Upload Archive</h2>
                <form enctype="multipart/form-data" method="post" th:action="@{'/upload/' + ${mangaId}}">
                    <div>
                        <input name="file" type="file">
                        <input name="chapterName" type="text">
                    </div>
                    <button type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>